<h1><%= @cocktail.name %></h1>
<%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <%= dose.description %> of <%= dose.ingredient.name %> <%= link_to 'delete', dose_path(dose), method: :delete, data: {confirm: 'Are you sure?'} %>
  <% end %>
</ul>


<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient %>
  <%= f.input :description %>
  <%= f.submit "Add a new dose", class: "btn btn-primary" %>
<% end %>

<p><%= link_to 'back to cocktails', cocktails_path %></p>
